.createListTopContainer {
  width: 400px;
}
.newListInput {
  width: 270px;
}
.logoutButtonEmptyList{
  width: 150px;
  background-color: #D61C4E;
}
.usernameLogout{
  width:350px;
  height:50px;
  display:flex;
  align-items:center;
  margin-top:20px;
  justify-content:space-between;
}
@media screen and (max-width: 600px) {
  .createListTopContainer {
    width: 350px;
  }
  .newListInput {
    width: 236px;
  }
  .usernameLogout{
    width: 300px;
  }
}
