.createListTopContainer {
  width: 400px;
}
.newListInput {
  width: 270px;
}
@media screen and (max-width: 600px) {
  .createListTopContainer {
    width: 300px;
  }
  .newListInput {
    width: 236px;
  }
}
