.listEdit{
    height: 275px;
    width: 275px;
    margin-top: 125px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons{
    height: 45px;
    padding: 0px;
}
.logoutButton{
    width: 225px;
    background-color: #D61C4E;
}
@media screen and (max-width: 600px){
    .listEdit{
        margin-top: 75px;
        margin-left: 0px;
    }
}
.usernameInfo{
    margin-top: 10px;
    color:#1565c0;
    text-align: center;
}