.roltopContainer{
    width: 400px;
}
.username,.password{
    width: 300px;
}
.lorButton{
    width: 190px;
    height: 45px;
}
.lorButtons{
    margin-top: 25px;
    width: 400px;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 600px){
    .roltopContainer{
        width: 300px;
    }
    .lorButtons{
        width: 350px;
    }
    .lorButton{
        width: 170px;
    }
}
