.title{
    height: 50px;
    width: 350px;
    margin: 50px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: x-large;
}
.roltopContainer{
    width: 300px;
}
.username,.password{
    width: 300px;
}
.lorButton{
    width: 140px;
}
.lorButtons{
    width: 300px;
    display: flex;
    justify-content: space-between;
}
